/* styles/juego1.css */

.game-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    z-index: 2;
}
.game-overlay h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

#start-button {
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(to right, #70DC9C, #41855D);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
}

#start-button:hover {
    background-color: #dddddd;
}


.game-container {
    position: relative;
    width: 1000px; 
    height: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.game-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}

#game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#info {
    position: relative;
    left: 15px;
    top: 15px;
    z-index: 2;
}

#timer {
    color: red;
    font-weight: bold;
}

.item {
    width: 50px;
    position: absolute;
    cursor: pointer;
    transition: width 0.1s, height 0.1s;
}

#message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #cbcbcb, #ffffff);
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
    font-family: "Inter", sans-serif;
}

.hidden {
    display: none;
}

#reset-button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

#reset-button svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#reset-button.lose {
    background-color: #ff6961;
}

#reset-button.win {
    background-color: #41855D;
}