/* body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
} */

h1 {
    margin-top: 20px;
    color: #333;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    transition: transform 0.3s;
    background-size: cover;
    background-position: center;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card.flipped .back {
    display: none;
}

.card .front, .card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.card .front {
    background-size: cover;
    background-position: center;
}

.card .back {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
