@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
span {
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #0F948B;
}
h1 {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 40px;
    text-transform: uppercase;
}
h2 {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #0F948B;
    font-size: 20px;
}
h3 {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #0F948B;
    font-size: 25px;
}
p {
    font-family: "Inter", sans-serif;
    font-weight: 400;

    color: #161616;
}
.background-snippet {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #F0EBE7;
    background-image: radial-gradient(1000% 100% at 0% 50%, #8DD5AB 0, rgba(15, 148, 139,0) 50%, rgba(15, 148, 139,0) 100%);
    opacity: 0.5;
}
body {
    /* display: flex;
    flex-direction: column;
    height: 100vh; */
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #70DC9C, #41855D);
    color: white;
    height: 70px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}
header nav div img{
    width: 45px;

}
header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li {
    margin: 0 10px;
}
header nav ul li a {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}
header nav ul li a:hover {
    color: #F0EBE7;
}

main {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 25px;
}
.logo-uade-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 25px;
}
.resized-logo {
    width: 100px; 
}
.resized-logo2 {
    width: 45px; 
    margin-right: 15px;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    gap: 50px;
}
.main-container h1 {
    max-width: 800px;
    text-align: center;
}
.main-container p {
    max-width: 800px;
    text-align: center;
}


footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0EBE7;
    color:white;
    height: 70px;
    width: 100%;
    text-align: center;
}
footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #70DC9C, #41855D);
    padding: 25px;
    margin-bottom: 20px;
    border: 2px;
    border-radius: 25px;
}
footer div p {
    color: #fff;
}

@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 30px;
    
    }
}
@media screen and (max-width: 376px) {
    h1 {
        font-size: 20px;
    
    }
}